
/* Common Shared Styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Common Shared Styles End */

/* Primary Color Styles */

.text-primary{
    color:#FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color:#FFF;
    padding: 18px 35px;
}
/* Primary Color Styles End */
/* nav realated styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 215px;
}
.nav-title{
    font-size: 45px;
    color:#181818);
    font-size: 45px;
    font-weight: 800; 
}
nav > ul {
    display:flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color:#474747
}
/* nav realated styles End */

/* Header realated styles*/
.header{
    background-color: #FFF8F3;
}

/* Header realated styles End*/

/* banner related styles */
.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
/* .border{
    width:963px;
    height:592px;
    border:5px solid #FD6E0A;
    border-radius:100% */
}
.banner .profile-picture{
   width:500px;
    
/* banner related styles end */


