
/* Common Shared Styles */

body{
    font-family: 'Open Sans', sans-serif;
}
/* Common Shared Styles End */

/* Primary Color Styles */

.text-primary{
    color:#FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color:#FFF;
    padding: 18px 35px;
}
/* Primary Color Styles End */
/* nav realated styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 215px;
}
.nav-title{
    font-size: 45px;
    color:#181818);
    font-size: 45px;
    font-weight: 800; 
}
nav > ul {
    display:flex;
    align-items: center;
}
nav li{
    list-style:none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color:#474747
}
/* nav realated styles End */

/* Header realated styles*/
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

/* Header realated styles End*/

/* banner related styles */
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .border{
    padding: 0px;
}
.banner .profile-picture{
   width:500px;
  
}
.banner-greeting{
    font-size:25px;
    color:#474747;
    margin-bottom:0px;
}    
.banner-title{
    font-size: 45px;
    font-weight: 700;
    color:#181818;
    margin-top:5px;
    margin-bottom: 20px;
}
.banner-description{
    max-width: 500px;
    margin-bottom: 30px;
    color:#757575;
    font-size: 15px;
    font-weight: 400;


}
/* banner related styles end */


